/**
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
body {
  background-color: rgb(112, 112, 112);
  padding: 10px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

.NavBar{
  /**
  trying to make the navbar go to the top of the screen
  instead of being a little below it
  
  position: fixed;
  top: 0px;
  */
}

ul.NavBar li {
  display: inline;
  margin: 0px;
}

ul.NavBar {
  background-color: rgb(2, 148, 148);
  padding: 0;
}

ul.NavBar li a {
  /**
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  */
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.home-page {
  padding: 10px;
  background-color: rgb(2, 148, 148);
}

.about-page{
  padding: 10px;
  background-color: rgb(2, 148, 148);
}

.project-page {
  background-color: rgb(2, 148, 148);
  padding: 10px;
}

ul.projects li {
  display: inline;
  list-style-type: none;
  margin: 0;
}


ul.projects {
  background-color: rgb(2, 148, 148);
  padding: 0px;
}
ul.projects li a {
  color: #FFF;
  font-weight: lighter;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
.featured-content{
  padding: 20px;
  background-color: rgb(112, 112, 112);
}

.content-block {
  text-align: center;
}

.content {
  background-color: rgb(112, 112, 112);
  padding: 0;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active{
  background-color: rgb(0, 119, 119);
}